fdeep-mobile-unet/app/src/main/assets/unet.json
fdeep-rpi-unet/unet.json
tensorflow-mobile-unet/app/src/main/assets/unet.pb
tensorflow-mobile-unet/app/src/main/assets/unet*.pb
tf-rpi-unet/unet_128.hdf5

